body {
  background-color: orange;  
}

h1 {
  color: white;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
}

p, li {
  color: white
    font-family Arial;
}

.header {
  border: 1px solid black;
  padding-left: 10px;
  background-color: black;
  
}

.footer {
  
  background: black;
  color: white;
  border: 1px solid black;
  padding-left 10px
}

